{% extends 'task/layout/base.html' %}
{% load static %}
{% block title %}Menú de tareas{% endblock title %}

{% block header %}
    {% include 'task/partials/navTask.html' %}
{% endblock header %}

{% block main %}

<h2 class="owner_task_title ">{{user.first_name }}, {{title_list}}  </h2>
    {% include 'task/partials/filterTag.html' %}
    {% for task in  tasks %}
        <div class='card_task_container f_d_row '>
            <div class='card_task f_d_row'>
                <div class='card_task_info '>
                    <p>{{ task.title }}</p>
                    <div class='card_task_info_datails f_d_column'>
                        <p class="dealine_text">Fecha límite: {{ task.deadline |date:"D d M Y"  }}</p>
                        <div class="task_info_datail_tags f_d_row">
                            {% if is_expired %}
                                <p class='status_previews_task'>Expirada</p>
                            {% else %}
                                <p class='status_previews_task'>{{ task.status }}</p>
                            {% endif %}
                            <p class=" design_tag
                            {% if task.task_tag.type == 'Tarea' %} 
                            task_tag
                            {% elif task.task_tag.type == 'Hogar'%}
                            home_tag
                            {% elif task.task_tag.type == 'Trabajo'%}
                            work_tag
                            {% elif task.task_tag.type == 'Estudio'%}
                            study_tag
                            {% elif task.task_tag.type == 'Deporte'%}
                            sport_tag
                            {% endif %}" >
                                {{ task.task_tag}} </p>
                        </div>
                        

                    </div>
                </div>
                <div class="card_task_manager">
                    <a  href=" {% url 'detail' task.id %} ">Detalles</a>
                    <a href=" {% url 'edit' task.id %} ">Editar</a>
                    <a href="#"  data-bs-toggle="modal" data-bs-target="#deleteTaskModal">Eliminar</a>
                </div>
            </div>
        </div>
    <div class="modal fade" id="deleteTaskModal"  data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">    
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content modal_card">
              <div class="modal-header border-0">
                    <img class="close_modal"   data-bs-dismiss="modal" aria-label="Close" src="{% static 'task/img/back.svg' %}" alt="">
                   
              </div>
              <div class="modal-body modal_scrollbar">
                    <form class='forms_style forms_style_alert' action=" {% url 'delete' task.id %} ">
                        <p>¿Está seguro de eliminar esta tarea?</p>
                        <button class="btn_form btn_form_alert" type="submit">Sí, eliminar tarea.</button>
                    </form>
              </div>
            </div>
          </div>
    </div>
    {% endfor %}
    {% include 'task/partials/modalCreateTask.html' %}
{% endblock main %}
