.user_manager_body {
    background-color: transparent;
}
a {
    color: #16b8f3;;
    text-decoration: none;
}
a:hover{
    color: orange;
}
.forms_style {
    display: flex;
    color: white;
    flex-direction: column;
}

.forms_style label {
    display: block;
    margin-bottom: 0.4rem;
    width: 100%;
}
.forms_style input {
    
    background: rgba(255,255,255,0.2);
    border: none;
    border: 1px solid rgba(255,255,255, 0.5);
    border-right: 1px solid rgba(255,255,255, 0.1);
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    color: rgba(240, 248, 255,0.5);
    display: block;
    letter-spacing: 1px;
    outline: none;
    padding: 0.5rem 1rem;
    width: 100%;
}
.forms_style input::placeholder {
    color: rgba(240, 248, 255,0.5);
}
.user_manager_body::-webkit-scrollbar {
    display: none;

}
.btn_form {
    background-color:#16b8f3;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    padding: 0.3rem;

}
.btn_form:hover {
    background-color: orange;
}
.title_modal_custom {
    color: white;
    position: relative;
    text-align: star;
}
.title_modal_custom::before {
    content: '';
    background: white;
    bottom: -10px;
    left: 0;
    height: 4px;
    position: absolute;
    width: 140px;
}