<div class='filter_tag'>
    <a class='design_tag home_tag'  href="{% url 'task' typ=2 %}">Hogar</a>
    <a class='design_tag work_tag'  href="{% url 'task' typ=3 %}">Trabajo</a>
    <a class='design_tag study_tag' href="{% url 'task' typ=4 %}">Estudio</a>
    <a class='design_tag sport_tag' href="{% url 'task' typ=5 %}">Deporte</a>

    <a class='design_tag  low_priority'     href="{% url 'task' prio=1 %}"> Baja</a>
    <a class='design_tag  medium_priority'  href="{% url 'task' prio=2 %}">Media</a>
    <a class='design_tag  high_priority'    href="{% url 'task' prio=3 %}">Alta</a>
</div>