{% load static %}
<!-- Modal -->
<div class="modal" id= "{% block modalName %} {% endblock modalName %}"  data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content modal_card">
      <div class="modal-header border-0">
            <img class="close_modal"   data-bs-dismiss="modal" aria-label="Close" src="{% static 'task/img/back.svg' %}" alt="">
      </div>
      <div class="modal-body modal_scrollbar">
            {% block modalBody %}{% endblock modalBody %}
      </div>

    </div>
  </div>
</div>