* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}   
a {
    color: #16b8f3;
    text-decoration: none;
}

.scroll_modal::-webkit-scrollbar {
    width: 7px;

}
.scroll_modal::-webkit-scrollbar-thumb {
    background-color:#16b8f3;
    border-radius: 2rem;
}
nav {
    background-color: white;
}
.shape_nav {
    height: 4rem;
    width: 4rem;
}
.close_modal {
    background-color: transparent;
    border: none;
}
.exit_modal_btn {
    height: 2rem;
    width: 2rem;
}
.modal_card {
    background-color: rgba(255,255,255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255, 0.5);
    border-right: 1px solid rgba(255,255,255, 0.1);
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
}
.modal-backdrop {
    display: none !important;
}
