* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.principal_body::-webkit-scrollbar {
    width: 7px;

}
.principal_body::-webkit-scrollbar-thumb {
    background-color:#16b8f3;
    border-radius: 2rem;
}
.f_d_row {
    display: flex;
}  
.f_d_column {
    display: flex;
    flex-direction: column;
}

/* todo: home style start */
.principal_body {
    display: flex;
    justify-content: center;
}
.principal_header{ 
    height: 100vh;
    padding-top: 2rem;
    width: 15vw; 
}
main {
    width: 85%;
}
a {
    color: #16b8f3;
    text-decoration: none;
}

.scroll_modal::-webkit-scrollbar, .modal_scrollbar::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: 7px;

}
.scroll_modal::-webkit-scrollbar-thumb, .modal_scrollbar::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
    background-color:#16b8f3;
    border-radius: 5rem;
    padding-top: 1rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}
.presentation {
    align-items: flex-end;
    color: white;
    justify-content: flex-end;
    height: 100vh;
    padding-right: 4rem;
}
#clock {
    text-align: end;
    height: 200px;
    width: 200px;
 
}

.nav_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 3rem;
}
.nav_principal {
    display: flex;
    flex-direction: column;
}
.shape_nav {
    background-color: rgba(255,255,255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255, 0.5);
    border-right: 1px solid rgba(255,255,255, 0.1);
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    border-radius: 50%;
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    height: 4rem;
    margin: 2rem;
    padding:0.5rem;
    position: relative;
    width: 4rem;
}
.shape_nav:hover {
    border: solid 1px #16b8f3;
    box-shadow: 1px 1px 5px rgba(255,255,255,0.5);
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
}

.logo_super {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 8rem;
    width: 8rem;
}
.logo-container {
    position: relative;
    
}
.logo-text {
    font-size: 10px;
    font-weight: bold;
    color: #16b8f3;
    /* color: #0ff; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 2px solid #16b8f3;
    box-shadow: 0 0 10px #16b8f3,
                0 0 20px #16b8f3,
                0 0 30px #16b8f3,
                0 0 40px #16b8f3,
                0 0 70px #16b8f3;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: aura-animation 5s linear infinite;
}
.close_modal {
    background-color: transparent;
    border: none;
}
.exit_modal_btn {
    height: 2rem;
    width: 2rem;
}

.modal_card, .card_task_container , .status_previews_task, .forms_style, .detail_task, .tooltip-inner, 
.detail_title{
    background-color: rgba(255,255,255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255, 0.5);
    border-right: 1px solid rgba(255,255,255, 0.1);
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    /* position: relative; */
}
.title_modal_Text {
    color: white;
}
/* .modal_card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: rgba(255,255,255, 0.3);
    transform: skewX(45deg) translateX(738px);
    transition: 1.2s;
}
.modal_card:hover::before {
    transform: skewX(45deg) translateX(-338px);
} */




.scale-up-vertical-center{animation:scale-up-vertical-center 0.3s} @keyframes scale-up-vertical-center{0%{transform:scaleY(.2)}100%{transform:scaleY(1)}}

@keyframes aura-animation {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0.6;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        -moz-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        -o-transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}
/* @media screen and (min-width: 1090px) {
    .modal_card {
        /*position: relative;
        transform: translateX(-20%);
        width: 80vw !important;
        -webkit-transform: translateX(-20%);
        -moz-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
        -o-transform: translateX(-20%);
}
 
} */

/* @media screen and (min-width: 1554px) {
    .modal_card {
        /*position: relative;
        transform: translateX(-30%);
        width: 80vw !important;
        -webkit-transform: translateX(-30%);
        -moz-transform: translateX(-30%);
        -ms-transform: translateX(-30%);
        -o-transform: translateX(-30%);
}
    /* .mod
    /* Agrega aquí tus reglas de estilo para pantallas más grandes 
} */
/* todo: home style end*/

/* todo: task style start*/

.owner_task_title {
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
.nav_task_manager {
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5rem;
    min-height: 90%;
}
.nav_task_manager .shape_nav {
    height: 3rem;
    margin: 0;
    /* margin-bottom: 1.5rem; */
    width: 3rem;
} 
.aux_button_navtask, .form_fiter_status_task {
    background-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 3rem;
    /* margin-bottom: 1.5rem; */
    width: 3rem;
}
.task_status_list_count {
    background-color: #3A6073 !important; 
    color: #16b8f3;
    z-index: 2;
}
.card_task_container {
    border-radius: 0;
    flex-wrap: wrap;
    height: 50vh;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0.4rem 1rem;
    width: 90%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    /* Efecto */
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 10% cover 45%;
    animation-fill-mode: both;
    
}
.card_task {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    width: 100%;
}
.card_task_info {
    color: white;
    flex-wrap: wrap;

    width: 70%;
}
.card_task_info_datails {
    align-items:flex-start;
    flex-wrap: wrap;
   
}

.design_tag {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    color: #3A6073;
    margin-left: 0.5rem;
    padding: 0.3rem 1rem;
}
.task_tag {
    background-color: orange;
}
.home_tag {
    background-color: greenyellow;
}
.work_tag {
    background-color: papayawhip;
}
.study_tag {
    background-color: aquamarine;
}
.sport_tag {
    background-color: yellow;
}
.status_previews_task {
    border-radius: 2rem;
    padding: 0.2rem 0.6rem;
    margin-left: 0.6rem;
    text-align: center;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.card_task_manager a {
    padding: 0.2rem;
}
.close_modal {
    height: 3rem;
    width: 3rem;
}
.close_modal:hover {
    cursor: pointer;
}


.tooltip-custom {
    background-color: transparent; /* Cambia el color de fondo */
    color: orange; /* Cambia el color del texto */
    border-radius: 8px; /* Ajusta el redondeo de las esquinas */
    padding: 4px; /* Añade espacio interno */
    font-weight: bold;
    
  }

.tooltip-inner {
  color: orange;
  box-shadow: 2px 2px 8px rgba(255,255,255,0.7);
}


@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}
/* todo: task style end*/

/* todo: task detail start*/
.detail_task{
    align-items: flex-start;
    color: white;
    justify-content: flex-start;
    margin-top: 3%;
    padding: 4rem 4rem;
    width: 80%;
}
.detail_title {
    color: white;
    font-weight: bold;
    padding: 0.2rem 1rem;
    width: 100%;
}
.detail_info {
    border-radius: 0;
    padding-left: 4rem;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.icon_task_detail {
    align-items: center;
    height: 1.2rem;
    margin-right: 0.5rem;
    width: 1.2rem;
}
